{% extends 'base.html'%}

{% block contents %}
<div class="container">

<h1>Sign up!</h1>

<form method = "POST" action="{% url 'signup'%}">
    {% csrf_token %}<!--보안을 위해서 써주는 난수 발생기(csrf 공격을 방어하는 방어 수단)-->
    username:
    <br>
    <input type="text" name="username" value="">
    <br>
    Password:
    <br>
    <input type="password" name="password1" value="">
    <br>
    Confirm Password:
    <br>
    <input type="password" name="password2" value="">
    <br>
    <br>
    <input class="btn btn-primary" type="submit" value="Sing up!">
</form>

</div>
{% endblock %}